body {
color:hsl(247, 10%, 60%);
font-family: 'Quicksand', sans-serif;
background-color: hsl(247, 100%, 97%);
}

#title {
  font-size: 5em;
  text-align: center;
  font-weight: 100;
}

#subtitle {
  font-size: .3em;
}

#threeDiv {

margin: auto 0;
margin-top: -200px;
margin-bottom: -200px;
width:100%;


}



#controls {
  font-size: 1.5em;
  margin-top:2em;
}


#volume {
  margin-top: .5em;
  width: 33%;
  height: 100%;
  text-align: center;
  margin: 0 auto;
  display:inline-block;
  vertical-align: middle;
}

#source {
  float:left;
  text-align: center;
  width: 33%;
  height: 100%;
  vertical-align: middle;
}

#subIR {
  width: 33%;
float: right;
  text-align: center;
  vertical-align: middle;
}

.styled-select select {

   background: green;
   width: 300px;
   height:30px;
   padding: 5px;

   font-size: 20px;
   text-align: center;
   line-height: 1;
   border: 3;
   border-radius: 4;
   height: 34px;

}



.button {

font-size:.4em;
background: hsl(247, 30%, 90%);

 -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
min-width:6%;

}

.button active {

background: hsl(247, 30%, 20%);

}

#volume-min, #volume-plus {
  width:5%;
}


.switched {
  background: hsl(247, 30%, 90%);
}

.styled-select {
  background:hsl(247, 30%, 90%);
  border: 1;
  border-radius:4;
  margin-top:10px;
}
