body {

text-align: center;
color:#901090;
font-family: 'Orbitron', sans-serif;
}

#threeIntro {

margin: auto;
width:100%;
padding: 10x;
margin-top: 140px;

}

#threeDiv {

margin: auto;
width:100%;
padding: 0x;
margin-top: 0px;
position:absolute;
top:150px;
left:0px;
z-index: -1;

}


#controls {
  font-size: 30px;
  margin-top:2em;
}

#subIR {
margin-top:1px;
}

.styled-select select {

   background: green;
   width: 300px;
   height:30px;
   padding: 5px;

   font-size: 20px;
   text-align: center;
   font-size:20px;
   line-height: 1;
   border: 3;
   border-radius: 4;
   height: 34px;

}



.inToggle {

font-size:30px;
background: red;
margin-top: 2em;
margin-bottom:2em;

}

.switched {
  background: green;
}

#volume {
  background:blue;
  font-size:40px;
  font-family:"Book Antiqua";

  border: 1;
  border-radius:5;
  margin-top:10px;
}
