body {
    color: hsl(247, 30%, 50%);
    font-family: 'Arvo', serif;
    background-color: hsl(67, 10%, 93%);
}

#title {
    font-size: 5em;
    text-align: center;
    font-weight: 400;
}




#subtitle {
    font-size: 1.5em;
    text-align: center;
    margin-top: -20px;
    font-weight:700;
    font-style: italic;
}

#threeDiv {
    padding: 0;
    margin: auto 0;
    overflow: hidden;
    margin-bottom: .2%;
    display: block;
    top: 0px;
    left: 0px;
    text-align: center;
    /*margin-top: -200px;*/
    position: absolute;
    z-index: -1;
}




#controls {
    font-size: 1.5em;
    line-height: 1.5em;
    padding:0;
    margin: 0;
/*    margin-top: 35%;*/
    font-weight: 400;
/*    min-height:300px;*/
    color: hsl(247, 30%, 30%);
    background-color: hsla(67, 80%, 3%, .3);
    vertical-align: center;
}

#volume {
    /*  margin-top: .5em;*/
    width: 33.3%;
    height: 100%;
    text-align: center;
    margin: 0 auto;
    display: inline-block;
    vertical-align: middle;
        padding:0;
}

#source {
    float: left;
    text-align: center;
    width: 33.3%;
    height: 100%;
    vertical-align: middle;
        margin: 0 auto;
    display: inline-block;
    padding:0;
}

#subIR {
    width: 33.3%;
    float: right;
    text-align: center;
    vertical-align: middle;
        display: inline-block;
        margin: 0 auto;
        padding:0;
}

.styled-select select {
    background: green;
/*    width: 300px;
    height: 30px;*/
    padding: 5px;
/*    font-size: 20px;*/
    text-align: center;
    line-height: 1;
    border: 3;
    border-radius: 4;
    height: 34px;
    color: hsl(247, 30%, 50%);
}

.button {
    font-size: .7em;
    background: hsl(247, 30%, 90%);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    min-width: 6%;
    color: hsl(247, 50%, 60%);
    font-family: 'Arvo', serif;
    font-weight: 400;
}

.button active {
    background: hsl(247, 30%, 20%);
}

#volume-min,
#volume-plus {
    font-size: .7em;
    text-align: center;
    background: hsl(247, 30%, 90%);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    min-width: 10%;
}

.switched {
    background: hsl(247, 30%, 90%);
        -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    font-family: 'Arvo', serif;
    font-weight: 400;
}



.styled-select {
    background: hsl(247, 30%, 90%);
    font-size: .7em;
    background: hsl(247, 30%, 90%);
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    font-family: 'Arvo', serif;
    min-width: 6%;
    color: hsl(247, 30%, 50%);
}

footer {
    width:100%;
    height:80px;
    position:absolute;
    bottom:0;
    left:0;
}

#credits {
    text-align: center;
    font-size:0.3em;

}
