body {

text-align: center;
color:#901090;
background: -moz-linear-gradient(-45deg, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0.65) 15%, rgba(0,0,0,0.2) 74%, rgba(0,0,0,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(15%,rgba(0,0,0,0.65)), color-stop(74%,rgba(0,0,0,0.2)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 15%,rgba(0,0,0,0.2) 74%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 15%,rgba(0,0,0,0.2) 74%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 15%,rgba(0,0,0,0.2) 74%,rgba(0,0,0,0) 100%); /* IE10+ */
background: linear-gradient(135deg, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 15%,rgba(0,0,0,0.2) 74%,rgba(0,0,0,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#threeIntro {

margin: auto;
width:100%;
padding: 10x;
margin-top: 140px;

}

#threeDiv {

margin: auto;
width:100%;
padding: 0x;
margin-top: 0px;
position:absolute;
top:150px;
left:0px;
z-index: -1;

}


#controls {
  font-family: "Book Antiqua";
  font-size: 30px;
  margin-top:2em;
}

#subIR {
margin-top:1px;
font-family: "Book Antiqua";
}

.styled-select select {

   background: green;
   width: 300px;
   height:30px;
   padding: 5px;

   font-size: 20px;
   text-align: center;
   font-family: "Book Antiqua";
   font-size:20px;
   line-height: 1;
   border: 3;
   border-radius: 4;
   height: 34px;

}



.inToggle {

font-size:30px;
background: red;
margin-top: 2em;
margin-bottom:2em;

}

.switched {
  background: green;
}

#volume {
  background:blue;
  font-size:40px;
  font-family:"Book Antiqua";

  border: 1;
  border-radius:5;
  margin-top:10px;
}
